#finance {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 600px;
	background-color: white;
	border-radius: 5px;
	//text-align: center;
	font-family: Arial;
	padding: 10px;
	float: left;
	display: none;
}

#button_box{
	margin-top: 5px;
	width: 100%;
	height: 50px;
	//float:right;
}

#radio_type {
	width: 100px;
	float:left;
}
#close_button{
	margin-top: 0px;
	float: right;
}
#post_button{
	margin-top: 0px;
	float: right;
}

#text_box{
	float: left;
	height: 120px;
	width: 325px;
	margin-right:20px;
}


#txta1 {
	height: 120px;
	width: 325px;
}

#amt_area{
	float:right;
	width: 250px;
}
.field_switch{
	width: 50px;
	float: left;
}
#amt_area ul {
	list-style-type:none;
	margin:0;
	padding:10px;
	background-color: white;
}