
#logo {
	width: 25px;
	margin-right: 5px;
}
li img {
	width: 40px;
}
#main-icon {
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 10px;
	width: 70px;
}
body {
	background-color: #b8fff7;
	min-width: 1500px;
}

ul
{
list-style-type:none;
margin:0;
padding-top:5px;
padding-bottom: 5px;
background-color: #0fc4af;
}

.nav-bar li
{
display:inline;
font-style: none;
font-size: 22px;
font-family: Tahoma;
margin-left: 8%;
}

.nav-bar li:first-child
{
display:inline;
font-style: none;
font-size: 22px;
font-family: Tahoma;
margin-left: 2%;
}

.nav-bar a {
	text-decoration: none;
	color: white;
	font-weight: normal;	
}


#full-side {
	margin-left: 10px;
	margin-right: 0px;
	margin-top: -15px;
}
#side-panel {
	background-color: white;
	border-radius: 10px;
	text-align: center;
	font-family: Arial;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

#side-panel h2 {
	font-size: 22px;
}

#side-panel h4 {
	margin-top: 10px;
}

#side-panel a {
	text-decoration: none;
	color: black;
	font-weight: bold;		
}

#side-panel ul {
	list-style-type:none;
	margin:0;
	padding:10px;
	background-color: #0fc4af;
	background-color: white;
}


#top-left-panel {
	background-color: white;
	border-radius: 10px;
	text-align: center;
	font-family: Arial;
	padding-top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-top: 10px;	
	font-size: 30px;
}

#top-left-panel h3 {
	margin-bottom: -15px;
}

#top-left-panel #chore {
	font-size: 20px;
}

#newsfeed {
	padding: 10px;
	margin: 10px;
	background-color: white;
	border-radius: 10px;
	//overflow: scroll;
	height: 700px;
	text-align: center;
}
.date {
	--float: right;
}
#newsfeed ul {
	background-color: white;
	margin-left: -5px;
	text-align: center;
}

#newsfeed li {
	background-color: #eee;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 5px;	
	margin-right: 20px;	
	margin-left: -20px;		
	padding: 10px;
}

#newsfeed li h3 {
	display: inline;
	font: 20px black;
	font-family: Tahoma;
	margin-left: 15px;
	line-height: .5;
}

#newsfeed .date {
	font-weight: bold;
}

#newsfeed h3 {
	font: 22px Tahoma;
	text-align: center;
	margin-bottom: 10px;
}

#money-manager {
	padding: 20px;
	margin: 10px;
	background-color: white;
	border-radius: 10px;
	overflow: scroll;
	height: 680px;
	padding-right: 20px;
	padding-left: 10px;
}

#money-manager ul {
	background-color: white;
	margin-left: -5px;
}

#money-manager h3 {
	font: 22px Tahoma;
	text-align: center;
}

#money-manager li {
	text-align: center;
	background-color: white;
	margin-left: -25px;
	-border: 1px solid black;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 10px;
	font: 16px Tahoma;
	background-color: #eee;
	padding: 3px;
}

#money-manager p {
	font-size: 20px;
}

#money-manager p span {
	font-size: 14px;
}

button {
	margin-left: 10px;
	text-align: center;
	vertical-align: center;
	padding: 5px;
	border-radius: 10px;
	font-weight: bold;
	margin-top: -10px;
}

